html
{ height: 100%;}

*
{ margin: 0;
  padding: 0;}

body
{ font: normal 1.5em 'trebuchet ms', arial, sans-serif;
  background: #F0EFE2 url(Library1.jpg) repeat;
  color: #FFF;}

p
{ padding: 0 0 20px 0;
  line-height: 1.7em;
    text-align:center;
}

img
{ border: 0;}

h1, h2, h3, h4, h5, h6 
{ font: normal 175% 'century gothic', arial, sans-serif;
  color: #FFF;
  margin: 0 0 15px 0;
  padding: 15px 0 5px 0;}

h2
{ font: normal 175% 'century gothic', arial, sans-serif;
  color: #FFF;}

h4, h5, h6
{ margin: 0;
  padding: 0 0 5px 0;
  font: normal 120% arial, sans-serif;
  color: #FFF;}

h5, h6
{ font: italic 95% arial, sans-serif;
  padding: 0 0 15px 0;
  color: #FFF;}

h6
{ color: #362C20;}

a
{
    margin:auto;
    text-align:center;
}

a, a:hover
{ outline: none;
  text-decoration: underline;
  color: #FFF;}

a:hover
{ text-decoration: none;}



ul
{ margin: 2px 0 22px 17px;}

ul li
{ list-style-type: circle;
  margin: 0 0 6px 0; 
  padding: 0 0 4px 5px;}

ol
{ margin: 8px 0 22px 20px;}

ol li
{ margin: 0 0 11px 0;}

input{
    margin:1%;
    float:right;
    text-align:center;
}
input[type=submit] {
    width: 80%;
    margin:15px 10% 15px 10%;
    height: 25px;
    display: block;

}
#searchBox {
    float: left; width: 80%;


}


form {
  width: 300px;
  margin: 0 auto;
 background-color: rgba(0, 0, 0, 0.7);
}

  
table
{ margin: 50px 0 30px 0;
  padding: 0 50px 0 50px;}

table tr th, table tr td
{ background: #3B3B3B;
  color: #FFF;
  padding: 7px 4px;
  text-align: left;}
  
table tr td
{ background: #FFF;
  color: #47433F;
  border-top: 1px solid #FFF;}