html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

.header {
    margin: 10 10 30 10;
    text-align: center;
}

.column {
    float: left;
    padding: 0 20 0 20
}

.left {
    width: 25%;
    min-width: 150px;
}

.right {
    width: 75%;
}

.searchBar {
}

#searchForm {
    padding-top: ;
}

#searchForm label {
    padding-left:5px;
    width: 100px;
    text-transform: uppercase;
    display: inline-block
}

.searchkey {
    /*width: 50;*/
}

.bookList {
}

.book {
    float: left;
    padding: 0 20 5 0;
    height: 175px;

}

.bookTitle {
    line-height: 1em;
    width: 250px;
    margin: 0;
}

.bookDetails {
    padding-right: 2px;
}

