html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

.column {
    float: left;
    padding: 0 20 0 20
}

.left {
    width: 25%;
    min-width: 150px;
}

.right {
    width: 75%;
}

.searchBar {
}

.bookList {
}

.book {
    float: left;
    padding: 10 20 5 0;
    height: 175px;

}

.bookTitle {
    line-height: 1em;
    width: 250px;
    /*margin-bottom: 0;*/
}

.bookDetails {
    padding-right: 2px;
}

